$color-primary: red;
$color-secondary: blue;
$color-tertiary: green;

section {
  display: flex;
  justify-content: center;

}

div {
  border: 2px solid $color-primary;
  padding: 20px;
  h1 {
    color: $color-tertiary;
    display: flex;
    justify-content: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-color: $color-secondary;
  }
  article {
    border: 1px solid $color-tertiary;
    padding: 20px;
    
    p.color1 {
      color: $color-secondary;
    }
    p.color2 {
      color: $color-primary;
    }
  }
}

